

@media only screen and (max-width:768px) {

    .hero__section {
        width: 100%;
    }

    .hero {

        &__heading {
            width: 375px;
            font-size: 38px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;

        }

        &__wrapper {
            text-align: center; 
            margin: 0 auto;
        }

        &__text {
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width:375px) {
    .hero {
        width: 100%;


        &__wrapper {
            text-align: center;   
        }
    }
}